<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marobiana.comment.dao.CommentDAO">
	<select id="selectCommentList" resultType="com.marobiana.comment.model.Comment">
	 	SELECT
	 		`id`
	 		, `postId`
	 		, `userId`
	 		, `userName`
	 		, `content`
	 		, `createdAt`
	 		, `updatedAt`
	 	FROM
	 		`comment`
	 	WHERE
	 		postId = ${postId}
	</select>
	
	<insert id="insertComment" parameterType="map">
		INSERT INTO `comment`
		(
			`postId`
	 		, `userId`
	 		, `userName`
	 		, `content`
	 		, `createdAt`
	 		, `updatedAt`
		)
		VALUES 
		(
			#{postId}
			, #{userId}
			, #{userName}
			, #{content}
			, NOW()
			, NOW()
		)
	</insert>
	
	<delete id="deleteComment" parameterType="int">
		DELETE
		FROM
			`comment`
		WHERE
			`id` = #{id}
	</delete>

	<delete id="deleteCommentByPostId" parameterType="int">
		DELETE
		FROM
			`comment`
		WHERE
			`postId` = #{postId}
	</delete>
</mapper>